<html>
<style>
div {
  padding: 10px;
  border:1px solid #dddddd;
}
textarea {
  width:100%;
  height:5em;
  margin:auto;
}
#result {
  height:15em;
}
</style>
<body>



<div id="main">
  <textarea id="sqlCommand" placeholder="meowhecker"></textarea>
  <button id="submit" onclick="returnSqlCommendByJson()">執行</button>
  <div id="result">
    <h3>執行結果</h3>
    <pre id="showResultByJson">

    </pre>
  </div>
</div>

<script>


    function returnSqlCommendByJson(){

        let queryElement = document.getElementById('sqlCommand').value
        let queryResult = document.getElementById('showResultByJson')

        let query = window.fetch(`execute/${queryElement}`)
        let readFetchContent = query.then(x=>x.json())

        console.log(`teste = ${readFetchContent}`)

        //Conver to json form 
            readFetchContent.then(displayReadResult=>queryResult.innerHTML=displayReadResult)
            //queryResult.innerHTML= JSON.stringify(readFetchContent,null,1) //乾 沒辦法用 {}
  
    }

</script>


</body>
</html>